body {background-color:rgb(255, 243, 243)}
.he1 {
    padding-top: 10px;
}
.bg1 {
    background-color: rgb(255, 243, 243);
    color: #a51f2f;
    padding-bottom: 10px;
    width:80%;
}
.midban {
    background-color:#a51f2f;
    width:100%;
    height:fit-content;
}
.bogrid {
    padding-left:10px;
    padding-right:10px;
    background-color: rgb(255, 243, 243);
}
.logo {
    height:60px;
    width:150px;
}